@charset "UTF-8";

body {
	margin: 0;
	min-width: 1500px;
}

main {
 	display: flex;
 	flex-direction: column;  
}

/* list 너비 */
section {
	width: 400px;
} 

.add-note {
	border: 0;
	background: 0;
	cursor: pointer;
}

.del-note {
	border: 0;
	background: 0;
	cursor: pointer;
	align-self: flex-end;
}

.column {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y:auto;  height:695px;
}

.lists {
	display: flex;
	justify-content: space-around;
	flex: 15;

}

.list {
	align-self: flex-start;
	margin : 10px;
}

.list>header {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center; 
	align-items: center;
	padding: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, .24);
}


.list-body {
    height: 100%;
}

.kanban-card {
	background-color: white;
	border-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px;
	margin-top: 5px;
	border-radius: 5px; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: box-shadow 0.3s ease;
	margin-left : 15px;
	cursor: move;

}
.kanban-card span {
    margin: 2px 0; /* 상하 간격 조절 */
}
.kanban-card>button {
	align-self: flex-end;
}

.kanban-card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.add-sector {
    display: flex;
    justify-content: flex-end; 
    margin: 25px; 
}

.add-sector button {
    padding: 5px 10px; 
    background-color: black; 
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.add-sector button:hover{
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22);
	transition: box-shadow .3s ease;
}

.del-note .material-symbols-outlined {
	color:black;
	/*margin-top: 5px;*/

}

.update-note{
	vertical-align: baseline !important;
	padding : 0px !important;
	border: 0;
	background: 0;
	cursor: pointer;
}

.h3{
	margin : 0px;
	padding-top : 15px;
}
