<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardDAO">
    <select id="getBoardList" resultType="board"  parameterType="int">
		<![CDATA[
        SELECT *
        FROM board
        WHERE projNo = #{projNo}
        ORDER BY boardNo
        ]]>
	</select>

    <insert id="addBoard" parameterType="java.lang.Integer" >
        insert into board(boardtitle, projno) values('섹션명', #{projNo})
    </insert>


    <update id="updateBoard" parameterType="board">
        update board set boardtitle = #{boardTitle} where boardno = #{boardNo}
    </update>

    <delete id="deleteBoard" parameterType="int">
        {call
            declare
            begin
                delete from note where boardno = #{boardNo};
                delete from board where boardno = #{boardNo};
            end
        }
    </delete>
</mapper>

