<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="userService">
	<select id="selectById" resultType="user">
		select * from usr where userId = #{userId}
	</select>
	<select id="selectUserInfoById" resultType="userInfo">
		select * from usrInfo where userId = #{userId}
	</select>
	<select id="selectUser" resultType="user">
		select * from usr where userId = #{userId}, pwd = #{pwd}
	</select>
	<select id="idCheck" parameterType="java.lang.String" resultType="java.lang.String">
		select userId from usr where userId = #{userId}
	</select>
	<insert id = "insertUser" parameterType="userInfo">
		insert into userinfo(userId, name, gender, email, tel, postCode, addr1, addr2, birthday, regDate) 
        values(#{userId}, #{name}, #{gender}, #{email}, #{tel}, #{postCode}, #{addr1}, #{addr2}, #{birthday} ,to_date(sysdate,'yyyy-mm-dd'))
	</insert>
	<insert id="joinUser">
		insert into usr(userId, pwd, salt, status) values(#{userId}, #{pwd}, #{salt}, 0)
	</insert>
	<select id="selectSalt" parameterType="java.lang.String" resultType="java.lang.String">
		select salt from usr where userId = #{userId}
	</select>
	<select id="selectPwd" parameterType="java.lang.String" resultType="java.lang.String">
		select pwd from usr where userId = #{userId}
	</select>
</mapper>



